.login {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 68px);  

  &__container {
    width: 400px;
    max-width: 100%;
    padding: 55px 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 26px 0px rgba(30, 30, 60, 0.22);
    background: #8797AF;
  }

  &__title {
    margin-bottom: 20px;
  }
  &__inputContainer {
    margin: 5px 0;
    
    input {
      padding: 5px;
      width: 100%;
    }
  }

  button {
    &:hover {
      cursor: pointer;
    }
    
    margin-top: 5px;
  }
}